{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The HDInsight Management Client.",
        "title": "HDInsightManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/configurations.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "hdinsight-configurations",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}": {
            "get": {
                "description": "The configuration object for the specified cluster.",
                "operationId": "Configurations_Get",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the cluster.",
                        "in": "path",
                        "name": "clusterName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the cluster configuration.",
                        "in": "path",
                        "name": "configurationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The HDInsight client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "description": "The configuration object for the specified configuration for the specified cluster.",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Configurations"
                ],
                "x-ms-examples": {
                    "Get HTTP settings": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "clusterName": "cluster1",
                            "configurationName": "gateway",
                            "resourceGroupName": "rg1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "restAuthCredential.isEnabled": "true",
                                    "restAuthCredential.password": "**********",
                                    "restAuthCredential.username": "hadoop"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Configures the configuration on the specified cluster.",
                "operationId": "Configurations_Update",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the cluster.",
                        "in": "path",
                        "name": "clusterName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the cluster configuration.",
                        "in": "path",
                        "name": "configurationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The HDInsight client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok response definition"
                    },
                    "202": {
                        "description": "Accepted response definition"
                    },
                    "204": {
                        "description": "No content response definition"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Configurations"
                ],
                "x-ms-examples": {
                    "Disable HTTP connectivity": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "clusterName": "cluster1",
                            "configurationName": "gateway",
                            "parameters": {
                                "restAuthCredential.isEnabled": "false"
                            },
                            "resourceGroupName": "rg1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {},
                            "202": {
                                "headers": {
                                    "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                                }
                            },
                            "204": {}
                        }
                    },
                    "Enable HTTP connectivity": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "clusterName": "cluster1",
                            "configurationName": "gateway",
                            "parameters": {
                                "restAuthCredential.isEnabled": "true",
                                "restAuthCredential.password": "**********",
                                "restAuthCredential.username": "hadoop"
                            },
                            "resourceGroupName": "rg1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {},
                            "202": {
                                "headers": {
                                    "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                                }
                            },
                            "204": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "The configuration object for the specified configuration for the specified cluster.",
                                "type": "object"
                            }
                        }
                    },
                    "description": "The cluster configurations.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ClusterConfiguration": {
                "additionalProperties": {
                    "type": "string"
                },
                "description": "The configuration object for the specified configuration for the specified cluster.",
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "The HDInsight client API Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "ClusterNameParameter": {
                "description": "The name of the cluster.",
                "in": "path",
                "name": "clusterName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ConfigurationNameParameter": {
                "description": "The name of the cluster configuration.",
                "in": "path",
                "name": "configurationName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ResourceGroupNameParameter": {
                "description": "The name of the resource group.",
                "in": "path",
                "name": "resourceGroupName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}